* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(32, 33, 36);
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;
}

.menu-content {
    display: flex;
    align-items: center;
}

.menu-content h3 a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 13px;
    font-weight: lighter;
}

.menu-content h3 a:hover {
    text-decoration: underline;
}

#acc-btn:hover {
    box-shadow: 0 0 2px 5px #303134;
}

#pages-btn:hover {
    box-shadow: 0 0 2px 3px #303134;
    background-color: #303134;
}

.dropdown {
    display: flex;
    align-items: center;
}

#acc-btn {
    border: 8px solid rgb(194, 24, 91);
    background-color: rgb(194, 24, 91);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 16px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#pages-btn {
    background-color: transparent;
    border: none;
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

#pages-btn img {
    width: 24px;
    height: 24px;
}

.logo {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-bar img {
    filter: invert(100%)
}

.search-buttons {
    display: flex;
    justify-content: center;
    align-items: end;
}

#search-barra {
    padding: 13px 0;
    margin: 15px;
    width: 550px;
    max-width: 95%;
    background-color: rgb(32, 33, 36);
    background: url(../imgs/lupa.png);
    background-size: 20px;
    background-position: 13px 12px, 72%;
    background-repeat: no-repeat;
    color: white;
    border: 1px solid #6d7075;
    border-radius: 20px;
    padding-left: 40px;
    font-size: 16px;
    padding-right: 180px;
}

.search-bar-icons {
    display: flex;
    position: relative;
    transform: translateY(-145%);
    left: 200px;
    filter: invert(80%);
    cursor: pointer;
}

#search-barra::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.keyboard-hover,
.mic-hover,
.camera-hover {
    display: none;
    width: fit-content;
    background-color: rgb(0, 0, 0);
    position: absolute;
    filter: invert(100%);
    padding: 8px;
    border: 2px #303134 solid;
    border-radius: 5px;
}

.keyboard-hover {
    margin: 30px 0 0 -130px;
}

.mic-hover {
    margin: 30px 0 0 -10px;
}

.camera-hover {
    margin: 30px 0 0 0;
}

.keyboard-hover h3,
.mic-hover h3,
.camera-hover h3 {
    font-size: 11px;
    white-space: nowrap;
    color: white;
}

#img-keyboard:hover+.keyboard-hover,
#img-mic:hover+.mic-hover,
#img-camera:hover+.camera-hover {
    display: block;
}

@media (max-width: 399px) {
    .search-bar-icons {
        left: 100px;
        padding-left: 15px;
    }

    #search-barra {
        padding-right: 165px;
        background-position: 13px 12px, 60%;
    }

    .subfooter-two span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }

    .subfooter-one span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }

}

@media (min-width: 400px) and (max-width: 419px) {
    .search-bar-icons {
        left: 120px;
        padding-left: 15px;
    }

    #search-barra {
        padding-right: 165px;
        background-position: 13px 12px, 65%;
    }

    .subfooter-two span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }

    .subfooter-one span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }
}

@media (min-width: 420px) and (max-width: 444px) {
    .search-bar-icons {
        left: 130px;
        padding-left: 15px;
    }

    #search-barra {
        padding-right: 165px;
        background-position: 13px 12px, 66%;
    }

    .subfooter-two span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }

    .subfooter-one span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }
}

@media (min-width: 445px) and (max-width: 459px) {
    .search-bar-icons {
        left: 135px;
        padding-left: 15px;
    }

    #search-barra {
        padding-right: 170px;
        background-position: 13px 12px, 67%;
    }

    .subfooter-two span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }

    .subfooter-one span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }
}


@media (min-width: 460px) and (max-width: 515px) {
    .search-bar-icons {
        left: 145px;
        padding-left: 15px;
    }

    #search-barra {
        padding-right: 180px;
        background-position: 13px 12px, 67%;
    }

    .subfooter-two span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }

    .subfooter-one span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }
}

@media (min-width: 516px) and (max-width: 540px) {
    .search-bar-icons {
        left: 180px;
    }

    #search-barra {
        padding-right: 170px;
        background-position: 13px 12px, 71%;
    }

    .subfooter-two span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }

    .subfooter-one span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }
}

@media (min-width: 541px) and (max-width: 565px) {
    .search-bar-icons {
        left: 190px;
    }

    #search-barra {
        padding-right: 180px;
        background-position: 13px 12px, 72%;
    }

    .subfooter-two span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }

    .subfooter-one span {
        display: flex;
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }
}

@media (min-width: 566px) and (max-width: 895px) {
    .footer-two {
        display: flex;
        flex-direction: row;
    }

    .subfooter-two {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .subfooter-one {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .subfooter-one span {
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }

    .subfooter-two span {
        white-space: nowrap;
        padding: 5px 5px;
        margin: 0 auto;
    }
}

.search-bar-icons img {
    padding: 8px 8px;
}

#search-barra:hover {
    background-color: #303134;
    border: 1px solid transparent;
}

#search-barra:focus {
    background-color: #303134;
    ;
    outline: none;
    border: 1px solid transparent;
}

.search-buttons button {
    padding: 10px;
    background-color: #303134;
    color: white;
    border: 1px solid #303134;
    border-radius: 3px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.search-buttons button:hover {
    border: 1px solid #6d7075;
}

.blank-space {
    height: 25.5vh;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

.footer-one {
    color: white;
    padding: 20px 35px;
    border-bottom: 1px solid #6d7075;
    background-color: #161617;
    font-size: 15px;
}

.footer-two {
    display: flex;
    color: white;
    padding: 20px 0;
    background-color: #161617;
    justify-content: space-between;
    height: 100%;
}

.subfooter-one span {
    margin-left: 35px;
    font-size: 15px;
}

.subfooter-two span {
    margin-right: 35px;
    font-size: 15px;
}

.subfooter-one span:hover,
.subfooter-two span:hover {
    text-decoration: underline;
    cursor: pointer;
}