* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3, h4 {
    font-family: Roboto,helvetica neue,helvetica,arial,sans-serif;
    font-weight: normal;
}

h4 {
    font-size: 15px;
}

h3 {
    font-size: 23px;
}

.logo-container {
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    padding-bottom: 100px;
}

.logo img {
    width: 150px;
}

.buttons-container { 
    align-items: center;
    display: flex;    
}

.buttons {    
    display: flex;
}

.buttons img {
    padding: 0 35px;
}

.temp {
    display: flex;
    align-items: center;
    padding-left: 19px;    
}

.temp h3 {
    display: flex;
    font-weight: normal;
    padding-left: 10px;
}

.temp h4 {
    display: block;
    position: relative;
    top: 30px;
    right: 70px;
}

#moon {
    width: 35px;
}

.content h1 {
    font-size: 42px;
    font-weight: normal;
}

.content span {
    color: #1A0DAB;
    font-weight: bold;
}

.content span:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: center;
    align-items: end;   
    padding-bottom: 15px;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 35%;
    padding: 15px 0;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 25px;
}